<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <meta name="google" content="notranslate">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Muli:400,700" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="css.css"> -->
</head>

<body>
<p>Payment Approved!</p>
</body>

</html>
