<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <meta name="google" content="notranslate">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Muli:400,700" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="css.css"> -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        var amount = /*[[${amount}]]*/ 1000;
        var invoice_id = /*[[${invoice}]]*/ '2fe84032-68de-4f35-9e34-a548ab290738';
        var note = /*[[${note}]]*/ 'Support our articles';
        /*]]>*/


        function authorize() {
            var xhr = new XMLHttpRequest();
            var url = "dummy-wallet/authorize";
            xhr.open("POST", url, true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var json = JSON.parse(xhr.responseText);
                    console.log("Payment has been authorized successfully!");
                    window.location.replace("/dummy-wallet/success")
                }
            };
            var data = JSON.stringify({"note": note, "invoice": invoice_id, "amount": amount});
            xhr.send(data);
        }
    </script>
</head>

<body>

<p>Invoice: <span th:text="${invoice}">2fe84032-68de-4f35-9e34-a548ab290738</span></p>
<p>Note:   <span th:text="${note}">New Article about Micro-payments</span></p>
<p>Amount:    <span th:text="${amount}">350</span> <span>Dummy Coins</span></p>
<p>Available Balance:    <span th:text="${balance}">2650</span> <span>Dummy Coins</span></p>
<button type="button" value="Authorize" style="height:50px;width:150px" onclick="authorize()">Authorize</button>
</body>

</html>
