<html xmlns:th="http://www.thymeleaf.org">

<head title="Payable Links">
    <script th:inline="javascript">
        function init() {
            document.getElementById("copy_button").addEventListener("click", copyLink);
        }

        function copyLink() {
            var copyText = document.getElementById("link_span");
            var textArea = document.createElement("textarea");
            textArea.value = copyText.textContent;
            document.body.appendChild(textArea);
            textArea.select();
            document.execCommand("Copy");
            textArea.remove();
        }
    </script>
</head>
<body onload="init();">
<p>Copy to clipboard & share away</p>
<p><span id="link_span" th:text="${payableLink}">https://payablelinks.com/8ZD5dUGT3U</span> <button id="copy_button">Copy</button></p>
<p><a href="https://payablelinks.com/8ZD5dUGT3U">Go to your payment page</a></p>
<p><a href="#">FB</a><a href="#">Twitter</a><a href="#">LinkedIn</a><a href="#">Facebook</a></p>
</body>

</html>