<html>

<head title="Payment Required">
    <script type="text/javascript">
        var payableUrl;
        var invoiceId;
        var payReq;

        function preload() {
            var thisUrl = new URL(window.location);
            var linkId = thisUrl.searchParams.get("link-id");
            invoiceId = thisUrl.searchParams.get("invoice-id");

            var xhr = new XMLHttpRequest();
            var url = "/pay-details?link-id=" + linkId;
            if(invoiceId !== null && invoiceId !== '') {
                url += "&invoice-id=" + invoiceId;
            }
            xhr.open("GET", url, true);

            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var json = JSON.parse(xhr.responseText);

                    var title = json['payableLink']['linkConfig']['title'];
                    var description = json['payableLink']['linkConfig']['description'];
                    var amount = json['payableLink']['linkConfig']['price'];
                    var currency = json['payableLink']['linkConfig']['currency'];
                    var pseudonym = json['payableLink']['linkConfig']['pseudonym'];
                    var payReqQrCode = "data:image/jpeg;base64," + json['paymentOptionParameters']['pay_req_qr_code'];

                    payableUrl = json['payableLink']['payableUrl'];
                    invoiceId = json['invoiceId'];
                    payReq = json['paymentOptionParameters']['pay_req'];

                    document.getElementById('title').textContent = title;
                    document.getElementById('description').textContent = description;
                    document.getElementById('price').textContent = amount;
                    document.getElementById('currency').textContent = currency;
                    document.getElementById('pseudonym').textContent = pseudonym;
                    document.getElementById('invoice_id').textContent = payReq;
                    document.getElementById('pay_req_qr_code').src = payReqQrCode;

                    console.log('Data loaded');

                    poll();
                }
            }
            xhr.send();
        }

        function selectThis(sel ){
            selection = window.getSelection();
            range     = document.createRange();

            if( typeof sel === 'undefined'){
                sel = document.getElementById("invoice_id")
            }

            range.selectNodeContents(sel);
            selection.removeAllRanges();
            selection.addRange(range);
            document.execCommand("copy")
        }

        function openInWallet() {
            window.open('lightning:' + payReq, '_blank')
        }

        function alreadyPaid() {
            window.open(payableUrl + '?x_payment_receipt=' + encodeURIComponent(invoiceId) + '&invoice_id', '_self');
        }


        var POLL_INTERVAL = 1000;
        var inProgress = false;
        var done = false;

        async function poll() {
            setInterval(pollOnce, POLL_INTERVAL);
            pollOnce();
        }

        function pollOnce() {
            if (inProgress || done) {
                console.log('...');
                return;
            }
            inProgress = true;

            console.log("Polling...  URL = " + payableUrl + "; Header = " + invoiceId);

            var newXHR = new XMLHttpRequest();
            newXHR.open('GET', payableUrl);
            newXHR.setRequestHeader('X-Payment-Receipt', invoiceId);
            newXHR.setRequestHeader('X-Payment-Quick-Check', 'true');

            newXHR.onreadystatechange = function() {
                if (newXHR.readyState == 4) {
                    if (newXHR.status != 402) {
                        is402 = false;
                        done = true;
                        console.log('Not 402. Might be that the payment was verified!');
                        window.open(payableUrl + "?x_payment_receipt=" + encodeURIComponent(invoiceId), "_self");
                    }
                }
                inProgress = false;
            };

            newXHR.send();
        }

        function pause(retries, sleep) {
            return new Promise(resolve => setTimeout(() => {
                console.log(`Retries left: ${retries}`);
                resolve();
            }, sleep));
        }
    </script>

</head>
<body onload="preload();">

<p>Title: <span id="title"></span></p>
<p>Description: <span id="description"></span></p>
<p>Amount: <span id="price"></span> <span id="currency"></span></p>
<p>Pseudonym: <span id="pseudonym"></span></p>
<p>Invoice: <span id="invoice_id" onClick="selectThis(this);"></span></p>
<button id="copy" type="button" value="Copy Invoice" style="height:50px;width:150px" onclick="selectThis();">Copy Invoice</button>
<button id="openInWallet" type="button" value="Open In Wallet" style="height:50px;width:150px" onclick="openInWallet();">Open In Wallet</button>
<a id="alreadyPaid" href="#" onclick="alreadyPaid();">I have already paid</a>
<p>
    <img id="pay_req_qr_code">
</p>

</body>


</html>